<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <title><%= siteTitle %><%= pageTitle %></title>
  <body id = "<%= pageId %>">
    <% include partials/template/header.ejs %>
    <div class="container">
        <section class="card-section">
            <div class="columns is-centered" style="padding: 2rem">
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-2by1">
                                <img src="./images/posters/the_staircase.jpg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Movie Title</p>
                                    <p class="subtitle is-7">IMDB RATING: 9/10</p>
                                </div>
                            </div>
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                <a href="#">Watch Trailer</a>
                                <span>&nbsp &nbsp &nbsp</span>
                                <a href="#">Save To Watchlist</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-2by1">
                                <img src="./images/posters/the_staircase.jpg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Movie Title</p>
                                   <p class="subtitle is-7">IMDB RATING: 9/10</p>                                </div>
                            </div>
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                <a href="#">Watch Trailer</a>
                                <span>&nbsp &nbsp &nbsp</span>
                                <a href="#">Save To Watchlist</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-2by1">
                                <img src="./images/posters/the_staircase.jpg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Movie Title</p>
                                   <p class="subtitle is-7">IMDB RATING: 9/10</p>
                               </div>
                            </div>
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                <a href="#">Watch Trailer</a>
                                <span>&nbsp &nbsp &nbsp</span>
                                <a href="#">Save To Watchlist</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
       <div class="container">
      <section class="card-section">
            <div class="columns is-centered" style="padding: 2rem">
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-2by1">
                                <img src="./images/posters/the_staircase.jpg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Movie Title</p>
                                    <p class="subtitle is-7">IMDB RATING: 9/10</p>
                                </div>
                            </div>
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                <a href="#">Watch Trailer</a>
                                <span>&nbsp &nbsp &nbsp</span>
                                <a href="#">Save To Watchlist</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-2by1">
                                <img src="./images/posters/the_staircase.jpg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Movie Title</p>
                                    <p class="subtitle is-7">IMDB RATING: 9/10</p>
                                </div>
                            </div>

                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                <a href="#">Watch Trailer</a>
                                <span>&nbsp &nbsp &nbsp</span>
                                <a href="#">Save To Watchlist</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-2by1">
                                <img src="./images/posters/the_staircase.jpg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Movie Title</p>
                                      <p class="subtitle is-7">IMDB RATING: 9/10</p>
                                </div>
                            </div>
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                <a href="#">Watch Trailer</a>
                                <span>&nbsp &nbsp &nbsp</span>
                                <a href="#">Save To Watchlist</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    </div>
    <% include partials/template/jsdefaults.ejs %>
  </body>
</html>
