<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <title><%= siteTitle %><%= pageTitle %></title>
  <body id = "<%= pageId %>">
    <% include partials/template/header.ejs %>
    <div class="container">
 <section class="hero">
        <figure class="image">
            <img src="https://images.pexels.com/photos/167636/pexels-photo-167636.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
        </figure>
    </section>
    <section class="section">
        <div class="container has-text-centered">
            <h2 class="title">The Band</h2>
            <p>We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
    <% include partials/template/jsdefaults.ejs %>
  </body>
</html>
