body {
  background-color:black;
  margin: 100px;
}

.wrapper{
    width: 85%;
    margin: auto;
}

/* Header */
.navbar {
background-color: black;
}

.buttons-group-header {
  padding:50px;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.card-section {
  margin-bottom: : -100px;
}

.field {
  width: 350px;
}
