  <header>
    <div class = "wrapper">
    <nav class="navbar is-black">
        <div class="navbar-brand ">
            <a class="navbar-item-height: 35px;" href="#">
                <img src="/images/misc/logo.png" alt="" >
            </a>
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
          <div class="navbar-item">
                    <div class="field">
                        <div class="control">
                            <input class="input is-large is-warning is-expanded " type="text" placeholder="Search">
                        </div>
                    </div>
                </div>
            <div class="navbar-end">
                  <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light">
            <strong>Sign up</strong>
          </a>
          <a class="button is-warning">
            Log in
          </a>
        </div>
      </div>
    </div>
    </div>
    </nav>
</div>
  <div class="container">
  <div class="buttons-group-header">
  <a class="button is-link is-active is-medium" href="./index">Recently Added</a>
  <a class="button is-link is-active is-medium" href="./movies">Popular</a>
  <a class="button is-link is-active is-medium" href="./genres">Genres</a>
  <a class="button is-link is-active is-medium" href="./networks">Networks</a>
  <a class="button is-link is-active is-medium" href="./profile">My List</a>
</div>
</header>


